
{% macro content(context) %}
<div class="CartTotal">
  <div class="CartTotal__info"> 
    <div class="CartTotal__title">
      Ваша корзина
    </div>
    <hr class="CartTotal__separator">
    <div class="CartTotal__row">
      <div class="CartTotal__rowName">
        Кол-во товаров:
      </div>
      <div class="CartTotal__rowValue">
        {{ context.total.count }} шт
      </div>
    </div>
    <div class="CartTotal__row">
      <div class="CartTotal__rowName">
        Сумма:
      </div>
      <div class="CartTotal__rowValue">
        {{ context.total.cost }}
      </div>
    </div>
    <hr class="CartTotal__separator">
    <div class="CartTotal__row">
      <div class="CartTotal__total">
        Итого
      </div>
      <div class="CartTotal__total">
        {{ context.total.cost }}
      </div>
    </div>
  </div>
  {% if mode == 'cart' %}
  <a class="CartTotal__link" href="/checkout">
    <button class="Form__button Button">
      ОФОРМИТЬ ЗАКАЗ
    </button>
  </a>
  {% elif mode == 'checkout' %}
  <input class="Button Form__button" type="submit" id="submit" name="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
  {% endif %}
</div>
{% endmacro %}

{{ content(context) }}
