
{% macro content(scope) %}
<div class="CartItem">
  <div class="CartItem__imageBlock">
    <img class="CartItem__image" src="{{ product.image_color[0].image }}" alt="{{ product.name }}">
  </div>
  <div class="CartItem__mainBlock">
    <div class="CartItem__title">
      {{ product.name }}
    </div>
    <div class="CartItem__info">
      <div class="CartItem__infoItem">
        <div class="CartItem__infoName">
          Размер:
        </div>
        <div class="CartItem__infoValue">
          {{ sizes[product_info.size - 1].size }}
        </div>
      </div>
      <div class="CartItem__infoItem">
        <div class="CartItem__infoName">
          Цвет:
        </div>
        <div class="CartItem__infoValue">
          {{ colors[product_info.color - 1].name }}
        </div>
      </div>
    </div>
    <div class="CartItem__price">
      <div class="CartItem__infoName">
        Стоимость
      </div>
      <div class="CartItem__infoValue">
        {{ product.cost_formatted }}
      </div>
    </div>
  </div>
  <button type="button" class="CartItem__closeButton">
    <img
      class="CartItem__closeButtonImage"
      src="static/images/close_icon_dark.svg"
      alt="Закрыть"
    >
  </button>
  <!-- <script>
    function deleteItem() {
      $.ajax({
        url: '/api/v1/basket/{{ product_info.id }}/',
        type: 'DELETE',
        data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(result) {
          location.reload()
        }
      });
    }
  </script> -->
</div>
{% endmacro %}

{{ content(context) }}
