{% macro content(scope) %}
<div class="ProductList">
  <div class="ProductList__grid">
    {% for item in context.products.results %}
      {% with scope=item %}
        {% include 'components/product-card.html' %}
      {% endwith %}
    {% endfor %}
  </div>
  <ul class="Pagination">
    <!-- <li class="Pagination__item"><a class="Pagination__link" href="#">&laquo;</a></li> -->
    {% if context.leftArrow %}
    <li class="Pagination__item">
      <a class="Pagination__link" href="{{ context.parentRoute }}1">
        &laquo;
      </a>
    </li>
    {% endif %}
    {% for i in range(context.leftPages) %}
    <li class="Pagination__item">
      <a class="Pagination__link" href="{{ context.parentRoute }}{{ context.currentPage - context.leftPages + i }}">
        {{ context.currentPage - context.leftPages + i }}
      </a>
    </li>
    {% endfor %}
    <li class="Pagination__item">
      <a class="Pagination__link Pagination__link--current">
        {{ context.currentPage }}
      </a>
    </li>
    {% for i in range(context.rightPages) %}
    <li class="Pagination__item">
      <a class="Pagination__link" href="{{ context.parentRoute }}{{ context.currentPage + i + 1 }}">
        {{ context.currentPage + i + 1 }}
      </a>
    </li>
    {% endfor %}
    {% if context.rightArrow %}
    <li class="Pagination__item">
      <a class="Pagination__link" href="{{ context.parentRoute }}{{ context.lastPage }}">
        &raquo;
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endmacro %}

{{ content(scope) }}
