
{% macro content(scope) %}
<div class="ProductCard">
  <div class="ProductCard__wrapper">
    <a class="ProductCard__link" href="/product/{{ scope.id }}">
      {% set image = scope.image_color[0] %}
      <img class="ProductCard__image" src="{{ image.image }}" alt="{{ image.name }}" width="288">
      <div class="ProductCard__title">
        {{ scope.name }}
      </div>
      <div class="ProductCard__price">
        {{ scope.cost_formatted }}
      </div>
    </a>
    <button class="ProductCard__button Button" data-bs-toggle="modal" data-bs-target="#sizePickerModal{{ scope.id }}">
      В КОРЗИНУ
    </button>
    
  </div>
</div>
{% from 'components/modals/size-picker-modal.html' import sizePickerModal %}
{{ sizePickerModal(scope, user, csrf_token) }}
{% endmacro %}

{{ content(scope) }}
