.Cart {
  font-family: 'PT Sans', sans-serif;
  width: 1248px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    margin-bottom: 32px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: $color-darkergray;
    margin: 0px;
  }

  &__container {
    background-color: $color-lightergray;
    justify-content: center; 
    display: grid;
    grid-auto-columns: 593px 207px;
    grid-gap: 98px;
    padding: 0px 24px;
  
    @include vw-lg-down {
      grid-auto-columns: 1fr 207px;
      grid-gap: 50px;
    }
  
    @include vw-sm-down {
      grid-auto-columns: 1fr;
      grid-auto-rows: auto auto;
      grid-gap: 16px;
      width: 100%;
    }
  }

  &__itemList {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    width: 593px;
    padding: 0px;
  
    @include vw-lg-down {
      width: auto;
    }
  
    @include vw-sm-down {
      grid-row: 1;
    }
  }

  &__total {
    grid-column: 2;
    width: 207px;
  
    @include vw-sm-down {
      grid-column: 1;
      grid-row: 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__separator {
    color: $color-lightgray;
    opacity: 1;
    margin: 0px;
  }

  &__form {
    margin: 40px 0px 80px 0px;
  
    @include vw-sm-down {
      margin-bottom: 0px;
    }
  }
}

.CartItem {
  display: flex;
  flex-direction: row;
  width: 593px;
  margin: 40px 0px;
  
  @include vw-lg-down {
    width: auto;
  }

  @include vw-sm-down {
    margin: 20px 0px;
  }

  &__imageBlock {
    margin-right: 32px;
    display: flex;
    align-items: center;
  
    @include vw-lg-down {
      margin-right: 28px;
    }
  
    @include vw-sm-down {
      margin-right: 16px;
    }
  }

  &__image {
    display: block;
    width: 145px;
    height: 145px;
    object-fit: cover;
  
    @include vw-lg-down {
      width: 125px;
      height: 125px;
    }
  
    @include vw-sm-down {
      width: 100px;
      height: 100px;
    }
  }

  &__mainBlock {
    width: 400px;
    padding: 10px 0px;
  
    @include vw-lg-down {
      width: 100%;
    }
  
    @include vw-sm-down {
    }
  }

  &__closeButton {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-top: 11px;
  }

  &__closeButtonImage {
    display: block;
    width: 14px;
    height: 14px;
  }

  &__title {
    margin-bottom: 8px;
    color: $color-darkergray;
    font-size: 18px;
    font-weight: 500;
    line-height: 121%;
  }

  &__info {
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-bottom: 24px;
  
    @include vw-sm-down {
      margin-bottom: 12px;
    }
  }

  &__infoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__infoName {
    color: $color-darkgray;
    font-size: 12px;
    font-weight: 400;
    line-height: 121%;
  }

  &__infoValue {
    margin: 0px;
    color: $color-darkergray;
    font-size: 14px;
    font-weight: 700;
    line-height: 121%;
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0px;
  
    @include vw-sm-down {
      gap: 6px;
    }
  }
}

.CartTotal {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  
  @include vw-sm-down {
    margin-top: 0px;
    width: 207px;
  }

  &__info {
    background-color: white;
    border: 1px solid $color-lightgray;
    padding: 24px 16px;
  }
  
  &__title {
    font-size: 16px;
    font-weight: 500;
    color: $color-sign-gray;
    margin: 0px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 121%;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  
  &__rowName {
    color: $color-darkgray;
    margin: 0px;
  }
  
  &__rowValue {
    color: $color-darkergray;
    margin: 0px;
  }
  
  &__total {
    font-size: 14px;
    font-weight: 700;
    color: $color-sign-gray;
    line-height: 121%;
    margin-top: 8px;
  }

  &__separator {
    color: $color-lightgray;
    opacity: 1;
  }
}