
{% macro sizePickerModal(scope, user, csrf_token) %}
  <div class="modal" id="sizePickerModal{{ scope.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content Modal">
        <form method="POST" action="api/v1/basket/">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <div class="Modal">
            <button type="button" class="btn-close Modal__closeButton" data-bs-dismiss="modal" aria-label="Close">
              <img
              class="Modal__closeButtonImage"
              src="static/images/close_icon.svg"
              alt="Закрыть"
            >
          </button>
            <input type="hidden" name="id" value="">
            <input type="hidden" name="count" value="1">
            <input type="hidden" name="product" value="{{ scope.id }}">
            <input type="hidden" name="user" value="{{ user.id }}">

            <div class="Modal__header">
              Выберите размер:
            </div>
            
            <select class="form-select Modal__select" name="size">
              {% for item in scope.size %}
                <option value="{{ item.id }}">{{ item.size }}</option>
              {% endfor %}     
            </select>
            
            <div class="Modal__header">
              Выберите цвет:
            </div>
            
            <select class="form-select Modal__select" name="color">
              {% for item in scope.image_color %}
                <option value="{{ item.color.id }}">{{ item.color.name }}</option>
              {% endfor %}     
            </select>
            
            <input class="Button Button--primary Modal__button" type="submit" id="submit" name="submit" value="В корзину">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}
