a { 
    color: inherit;
} 

.Button {
    background-color: $color-darkgray;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: $color-white;
    text-decoration: underline;
    padding: 11.5px 30px;

    &:active {
        color: white;
    }

    &:hover {
        color: white;
    }
}

.Form {
    font-family: 'PT Sans', sans-serif;
    width: 470px;

    &__header {
        font-size: 24px;
        font-weight: 700;
        color: $color-darkergray;
        text-align: center;
        margin-bottom: 16px;
    }

    &__label {
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 121%;
        color: $color-sign-gray;
        text-align: left;
        margin-bottom: 8px;
    }

    &__field {
        background-color: $color-white;
        border: 1px solid $color-border-gray;
        font-size: 14px;
        font-weight: 400;
        color: $color-darkergray;
        height: 40px;
        width: 100%;
        padding: 0px 16px;
    }

    &__button {
        width: 100%;
        margin-bottom: 24px;
        white-space: nowrap;
    }

    &__select {
        width: 100%;
        margin-bottom: 31px;
    }

    &__contactsGroup {
        display: flex;
        flex-direction: column;
        gap: 21px;
        margin-bottom: 45px;
    }

    &__addressGroup {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &__column {
        width: 100%;
    }
}

.Modal {
    font-family: 'PT Sans', sans-serif;
    margin: 56px 40px;

    &__closeButton {
        position: absolute;
        top: 22px; 
        right: 22px; 
        width: 24px;
        height: 24px;
        padding: 6px;
    }

    &__closeButtonImage {
        display: block;
        width: 12px;
        height: 12px;
    }

    &__header {
        font-size: 24px;
        font-weight: 700;
        color: $color-darkergray;
        text-align: center;
        margin-bottom: 16px;
    }

    &__label {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: $color-sign-gray;
        text-align: center;
        margin-bottom: 24px;
    }

    &__hint {
        font-size: 12px;
        font-weight: 400;
        color: $color-hint-gray;
        text-align: center;
        margin-top: 8px;
    }

    &__field {
        background-color: $color-lightergray;
        border: 1px solid $color-border-gray;
        font-size: 16px;
        font-weight: 600;
        color: $color-darkergray;
        height: 48px;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }

    &__button {
        width: 100%;
        margin-bottom: 24px;
        white-space: nowrap;
    }

    &__select {
        width: 100%;
        margin-bottom: 24px;
    }
}