{% extends 'layouts/base.html' %}

{% set scope = context %}

{% macro gallery(scope) %}
<div class="Gallery">
  <div class="Gallery__display">
    {% for item in scope %}
      <img id="galleryImage{{loop.index}}" class="Gallery__displayImage" src="{{ item.image }}" {{ 'hidden' if loop.index > 1 }}>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% block main %}
<div class="Product">
  <div class="Product__gallery">
    {{ gallery(scope.product.image_color) }}
  </div>
  <div class="Product__info">
    {% if user.is_authenticated %}
      <form id="form" method="POST" action="http://127.0.0.1:8000/api/v1/basket/">
    {% endif %}
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <input type="hidden" name="id" value="">
      <input type="hidden" name="count" value="1">
      <input type="hidden" name="product" value="{{ scope.product.id }}">
      <input type="hidden" name="user" value="{{ user.id }}">
      <input type="hidden" id="color" name="color" value="{{ scope.product.image_color[0].color.id  }}">
      <div class="Product__title">
        {{ scope.product.name }}
      </div>
      <div class="Product__id">
        <div class="Product__idSign">
          Артикул: 
        </div>
        <div class="Product__idValue">
          {{ scope.product.article }}
        </div>
      </div>
      <div class="Product__section">
        <div class="Product__text">
          {% autoescape false %}
            {{ scope.product.description }}
          {% endautoescape %}
        </div>
      </div>
      <div class="Product__section">
        <div class="Product__sectionTitle">
          СОСТАВ:
        </div>
        <div class="Product__text">
          {% autoescape false %}
            {{ scope.product.brand.name }}
          {% endautoescape %}
        </div>
      </div>
      <div class="Product__section">
        <div class="Product__sectionTitle">
          РАЗМЕР:
        </div>
        <div class="Product__sizeMenu">
          <div class="Product__sizePicker">
            <select class="form-select Modal__select Product__select" name="size">
              {% for item in scope.product.size %}
                <option value="{{ item.id }}">{{ item.size }}</option>
              {% endfor %}     
            </select>
          </div>
          <div class="Product__text">
            Не можете подобрать размер?<br>
            <a href="{{ scope.WALink }}" class="Product__link">
              Запишитесь на примерку в наш шоурум
            </a>
          </div>
        </div>
      </div>
      <div class="Product__section">
        <div class="Product__sectionTitle">
          ЦВЕТ:
        </div>
        <div class="ColorMenu">
          {% for item in scope.product.image_color %}
            <a id="colorButton{{ loop.index }}" class="ColorMenu__item {{'ColorMenu__item--selected' if scope.product.id == item.id }}"
            onclick="switchColor({{ loop.index }}, {{ item.color.id }})" style="background-color: 
              {{ 'red' if item.color.name == 'красный' }}
              {{ 'black' if item.color.name == 'черный' }}
              {{ 'blue' if item.color.name == 'синий' }}
              {{ 'yellow' if item.color.name == 'желтый' }}
              {{ 'green' if item.color.name == 'зеленый' }};
            "></a>
          {% endfor %} 
          <script>
            // sizes = {{ scope.product.size | tojson }}
            // colors = {{ scope.product.image_color | tojson }}
            // items = {{ scope.basket | tojson }}
            // n = Object.keys(items).length;
            // size = 1
            // color = 1
            function switchColor(newColor, id) {
              // color = i
              document.getElementById("color").value = id;
              for (let i = 1; i <= {{ scope.product.image_color|length }}; i++) {
                document.getElementById("galleryImage" + i).hidden = true;
                document.getElementById("colorButton" + i).classList.remove("ColorMenu__item--selected");
              }
              document.getElementById("galleryImage" + newColor).hidden = false;
              document.getElementById("colorButton" + newColor).classList.add("ColorMenu__item--selected");
            }

            // function checkProduct(size, color) {
            //   for (let i = 0; i < n; i++) {
            //     if (size == {{ scope.product.id }} && sizes[size - 1]["id"] == items[i]["size"] && colors[color - 1]["color"]["id"] == items[i]["color"]) {
            //       document.getElementById("form").method = "PATCH";
            //       document.getElementById("form").action = "http://127.0.0.1:8000/api/v1/basket/{{ scope.product.id }}";
            //     } else {
            //       document.getElementById("form").method = "POST";
            //       document.getElementById("form").action = "http://127.0.0.1:8000/api/v1/basket/";
            //     }
            //   }
            // }
            // checkProduct(size, color)
          </script>     
        </div>
      </div>
      <div class="Product__buyMenu">
        <div class="Product__price">
          {{ scope.product.cost_formatted }}
        </div>
        {% if user.is_authenticated %}
        <input class="Button" type="submit" id="submitButton" name="submit" value="В КОРЗИНУ">
        {% else %}
          <button class="Button" data-bs-toggle="modal" data-bs-target="#loginModal">
            В КОРЗИНУ
          </button>
        {% endif %}
      </div>
    {% if user.is_authenticated %}
    </form>
    {% endif %}
  </div>
</div>
{% endblock %} 