{% extends 'layouts/base.html' %}

<!-- { % set scope = {
  "product": {
    "id": 1,
    "name": "штаны0",
    "article": "штаны0",
    "cost": 5696.0,
    "sale_cost": 5469.0,
    "new": false,
    "sale": false,
    "description": "lHvCiO6hVN1t9pcXofF5FOtnZiHVgyyWUol9mT00uMRjuURQUP",
    "image_color": [
      {
        "id": 1,
        "img_name": "штаны0",
        "color": {
          "id": 1,
          "name": "красный",
          "color": 4278190080    
        },
        "image": "http://127.0.0.1:8000/media/products/seed/1.png",
        "name": "изображение0",
        "product": 1
      }
    ],
    "size": [
      {
        "id": 2,
        "size": 50
      }
    ],
    "brand": {
      "id": 4,
      "name": "rYZHPzcVi3"
    },
    "category": {
      "id": 1,
      "category": "штаны"
    },
    "is_favorite": false
  },
  'WALink': '/',
} % } -->
{% set scope = context %}

{% macro gallery(scope) %}
<div class="Gallery">
  <div class="Gallery__list">
  </div>
  {% set item = scope %}
  <div class="Gallery__display">
    <img class="Gallery__displayImage" src="{ { item.image } }">
  </div>
</div>
{% endmacro %}

{% block main %}
<div class="Product">
  <div class="Product__gallery">
    {{ gallery(scope.product.image_color) }}
  </div>
  <div class="Product__info">
    <div class="Product__title">
      {{ scope.product.name }}
    </div>
    <div class="Product__id">
      <div class="Product__idSign">
        Артикул: 
      </div>
      <div class="Product__idValue">
        {{ scope.product.article }}
      </div>
    </div>
    <div class="Product__section">
      <div class="Product__text">
        {% autoescape false %}
          {{ scope.product.description }}
        {% endautoescape %}
      </div>
    </div>
    <div class="Product__section">
      <div class="Product__sectionTitle">
        СОСТАВ:
      </div>
      <div class="Product__text">
        {% autoescape false %}
          {{ scope.product.brand.name }}
        {% endautoescape %}
      </div>
    </div>
    <div class="Product__section">
      <div class="Product__sectionTitle">
        РАЗМЕР:
      </div>
      <div class="Product__sizeMenu">
        <div class="Product__sizePicker">
          <select class="form-select" name="sizes">
            <option value="" selected disabled hidden></option>
            {% for item in scope.product.size %}
              <option value="{{ item.name }}">{{ item.size }}</option>
            {% endfor %}     
          </select>
        </div>
        <div class="Product__text">
          Не можете подобрать размер?<br>
          <a href="{{ scope.WALink }}" class="Product__link">
            Запишитесь на примерку в наш шоурум
          </a>
        </div>
      </div>
    </div>
    <div class="Product__section">
      <div class="Product__sectionTitle">
        ЦВЕТ:
      </div>
      <div class="ColorMenu">
        {% for item in scope.product.image_color %}
          <a class="ColorMenu__item {{'ColorMenu__item--selected' if scope.product.id == item.id }}"
           href="{{ item.url }}" style="background-color: {{ item.color.color }}"></a>
        {% endfor %}     
      </div>
    </div>
    <div class="Product__buyMenu">
      <div class="Product__price">
        {{ scope.product.cost_formatted }}
      </div>
      <button type="button" class="Button">В КОРЗИНУ</button>
    </div>
  </div>
</div>
{% endblock %} 